*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#box{
    border: 2px solid rgb(25, 121, 153);
    width:fit-content ;
    margin: 100px auto;
    padding: 20px;
}
#in_box{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
button{
    margin: 9px;
    width: 60px;
}
span{
    color: blue;
}